@import "tailwindcss";
body {
  font-family: var(--font-outfit), sans-serif;
}

:root {
  --primary-color: #797d86;
  --text-color: #3c3e4a;
  --bg-sidebar: #1D1F2B;
  --bg-color: #141725;
  --bg-color-2: #49506a;
}
.primary-color {
  color: var(--primary-color);
}
.text-color {
  color: var(--text-color);
}
.bg-color {
  background-color: var(--bg-color);
  
}
.bg-sidebar {
  background-color: var(--bg-sidebar);
}
.bg-color-2{
  color: var(--bg-color-2);
}
.image{
  background:linear-gradient(to bottom, rbga(0, 0, 0, 0),rbga(0, 0, 0, 1));

}

